.upperContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 156px;
  width: 100%;
}

.logo {
  margin: 60px;
}

.logo img {
  margin: 10px;
  width: 206px;
  height: 101px;
}

.textBlock ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 580px;
  height: 48px;
}

.blockItem {
  list-style-type: none;
}

.blockItem a {
  text-decoration: none;
  color: black;
}
